div(style="padding-top: 27px;").main-container
    .banner-grid 
        .banner-grid__item-lg
            .banner-slider
                .splide__arrows
                    .splide__arrow.splide__arrow--prev
                        svg.icon.icon--main-angle-right
                            use(href="img/sprite.svg#main-angle-right")
                    .splide__arrow.splide__arrow--next
                        svg.icon.icon--main-angle-right
                            use(href="img/sprite.svg#main-angle-right")
                .splide__track
                    .splide__list
                        .splide__slide.bn.bn--color-1
                            .bn-body
                                .bn-slogan 
                                    p Компания Аскона  - лидер по производству ортопедических матрасов, подушек и одеял, мебели и аксессуаров для дома. 
                                .bn-inner
                                    .bn-title.bn-title--lg 
                                        .bn-title__row.bn-title__color-1 Комплект:
                                        |Подушка с одеялом
                                    .discount.discount--lg
                                        .discount__pins 
                                            span до
                                            span -
                                        .discount__number 50#[span %]
                                a(href="#").button-banner Подробнее 
                            .bn-img
                                img(src="img/new-pages-img/pillow.png", alt="") 
        .banner-grid__item 
            a(href="#").sale-banner.sale-banner--color-1
                .bn-title
                    .bn-title__row.bn-title__color-1 Комплект:
                    |Кресло Аскона
                .discount
                    .discount__pins 
                        span до
                        span -
                    .discount__number 50#[span %]
                .sale-banner__img 
                    img(src="img/new-pages-img/chair.png", alt="")
        .banner-grid__item 
            a(href="#").sale-banner.sale-banner--color-2.sale-banner--effects
                .bn-title
                    .bn-title__row.bn-title__color-2 Акция:
                    |Подушка + плед 
                .discount
                    .discount__pins 
                        span до
                        span -
                    .discount__number 50#[span %]
                .sale-banner__img 
                    img(src="img/new-pages-img/pillow-sm.png", alt="")
    .main-categories 
        .splide__track
            .splide__list
                .splide__slide 
                    a(href="#").main-categories__link
                        .main-categories__img 
                            img(src="img/new-pages-img/categories/categories-1.png", alt="")
                        .main-categories__name  Матрасы
                .splide__slide
                    a(href="#").main-categories__link
                        .main-categories__img 
                            .main-categories__badge New
                            img(src="img/new-pages-img/categories/categories-2.png", alt="")
                        .main-categories__name  Подушки
                .splide__slide 
                    a(href="#").main-categories__link
                        .main-categories__img 
                            img(src="img/new-pages-img/categories/categories-3.png", alt="")
                        .main-categories__name  Кровати
                .splide__slide 
                    a(href="#").main-categories__link
                        .main-categories__img 
                            img(src="img/new-pages-img/categories/categories-4.png", alt="")
                        .main-categories__name  Одеяла
                .splide__slide 
                    a(href="#").main-categories__link
                        .main-categories__img 
                            img(src="img/new-pages-img/categories/categories-5.png", alt="")
                        .main-categories__name  Диваны
                .splide__slide
                    a(href="#").main-categories__link
                        .main-categories__img 
                            img(src="img/new-pages-img/categories/categories-6.png", alt="")
                        .main-categories__name  Мебель
    h3.title-sm Популярные товары
    .product-list
        .splide__track
            .splide__list
                .product-list__item.splide__slide 
                    .product-card
                        .product-card-slider
                            .product-card__badge.product-card__badge-left.product-card__badge-top
                                .product-badge.product-badge--rose -30#[span %]
                            .splide__track
                                .splide__list
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                        .product-card__body
                            a(href="#").card__name Прямой диван Lily
                            .price-row
                                .price.price-sm
                                    .price__number
                                        span.price__label
                                        | 1300 
                                        span.price__number-currency BYN
                                    .price__old 1400 
                                        span.price__old-currency BYN
                                .price-row__right
                                    .installments.installments-sm
                                        | Рассрочка от 
                                        a.installments__link(href='#') 1200 BYN
                            .product-card__size
                                .size-checkbox.size-checkbox-sm
                                    input#size-1-1.size-checkbox__input(type='radio' name='size-1' checked='')
                                    label.size-checkbox__label(for='size-1-1') 140х220
                                .size-checkbox.size-checkbox-sm
                                    input#size-1-2.size-checkbox__input(type='radio' name='size-1')
                                    label.size-checkbox__label(for='size-1-2') 120х200
                                .size-checkbox.size-checkbox-sm
                                    input#size-1-3.size-checkbox__input(type='radio' name='size-1')
                                    label.size-checkbox__label(for='size-1-3') 100х240
                                .size-checkbox.size-checkbox-sm
                                    input#size-1-4.size-checkbox__input(type='radio' name='size-1')
                                    label.size-checkbox__label(for='size-1-4') 120х280
                                a.card__row-more(href='#') +5
                            .card__availability
                                .availability-ico.availability-ico--green
                                | В наличии: 12
                            .product-card__hover 
                                a.btn.btn-primary.btn-card-block(href='#') В корзину
                .product-list__item.splide__slide 
                    .product-card
                        .product-card-slider
                            .splide__track
                                .splide__list
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                        .product-card__body
                            a(href="#").card__name Прямой диван Lily
                            .price-row
                                .price.price-sm
                                    .price__number
                                        span.price__label
                                        | 1300 
                                        span.price__number-currency BYN
                                    .price__old 1400 
                                        span.price__old-currency BYN
                                .price-row__right
                                    .installments.installments-sm
                                        | Рассрочка от 
                                        a.installments__link(href='#') 1200 BYN
                            .product-card__size
                                .size-checkbox.size-checkbox-sm
                                    input#size-2-1.size-checkbox__input(type='radio' name='size-2' checked='')
                                    label.size-checkbox__label(for='size-2-1') 140х220
                                .size-checkbox.size-checkbox-sm
                                    input#size-2-2.size-checkbox__input(type='radio' name='size-2')
                                    label.size-checkbox__label(for='size-2-2') 120х200
                                .size-checkbox.size-checkbox-sm
                                    input#size-2-3.size-checkbox__input(type='radio' name='size-2')
                                    label.size-checkbox__label(for='size-2-3') 100х240
                                .size-checkbox.size-checkbox-sm
                                    input#size-2-4.size-checkbox__input(type='radio' name='size-2')
                                    label.size-checkbox__label(for='size-2-4') 120х280
                                a.card__row-more(href='#') +5
                            .card__availability
                                .availability-ico.availability-ico--green
                                | В наличии: 12
                            .product-card__hover 
                                a.btn.btn-primary.btn-card-block(href='#') В корзину
                .product-list__item.splide__slide 
                    .product-card
                        .product-card-slider
                            .splide__track
                                .splide__list
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-3.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                        .product-card__body
                            a(href="#").card__name Прямой диван Lily
                            .price-row
                                .price.price-sm
                                    .price__number
                                        span.price__label
                                        | 1300 
                                        span.price__number-currency BYN
                                    .price__old 1400 
                                        span.price__old-currency BYN
                                .price-row__right
                                    .installments.installments-sm
                                        | Рассрочка от 
                                        a.installments__link(href='#') 1200 BYN
                            .product-card__size
                                .size-checkbox.size-checkbox-sm
                                    input#size-3-1.size-checkbox__input(type='radio' name='size-3' checked='')
                                    label.size-checkbox__label(for='size-3-1') 140х220
                                .size-checkbox.size-checkbox-sm
                                    input#size-3-2.size-checkbox__input(type='radio' name='size-3')
                                    label.size-checkbox__label(for='size-3-2') 120х200
                                .size-checkbox.size-checkbox-sm
                                    input#size-3-3.size-checkbox__input(type='radio' name='size-3')
                                    label.size-checkbox__label(for='size-3-3') 100х240
                                .size-checkbox.size-checkbox-sm
                                    input#size-3-4.size-checkbox__input(type='radio' name='size-3')
                                    label.size-checkbox__label(for='size-3-4') 120х280
                                a.card__row-more(href='#') +5
                            .card__availability
                                .availability-ico.availability-ico--green
                                | В наличии: 12
                            .product-card__hover 
                                a.btn.btn-primary.btn-card-block(href='#') В корзину
                .product-list__item.splide__slide 
                    .product-card
                        .product-card-slider
                            .splide__track
                                .splide__list
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-4.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                        .product-card__body
                            a(href="#").card__name Прямой диван Lily
                            .price-row
                                .price.price-sm
                                    .price__number
                                        span.price__label
                                        | 1300 
                                        span.price__number-currency BYN
                                    .price__old 1400 
                                        span.price__old-currency BYN
                                .price-row__right
                                    .installments.installments-sm
                                        | Рассрочка от 
                                        a.installments__link(href='#') 1200 BYN
                            .product-card__size
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-1.size-checkbox__input(type='radio' name='size-4' checked='')
                                    label.size-checkbox__label(for='size-4-1') 140х220
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-2.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-2') 120х200
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-3.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-3') 100х240
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-4.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-4') 120х280
                                a.card__row-more(href='#') +5
                            .card__availability
                                .availability-ico.availability-ico--green
                                | В наличии: 12
                            .product-card__hover 
                                a.btn.btn-primary.btn-card-block(href='#') В корзину
    h3.title-sm.mb-39 Идеи для интерьеров
    .previwe 
        .previwe__item 
            .previwe__img
                img(src="img/new-pages-img/product-previwe/product-previwe-1.jpg", alt="")
            .point-block.point-block--right.point-block--1
                .point
                .point-dropdown 
                    .point-dropdown__inner
                        a(href="#").card__name Лампа Lily
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        a(href="#").btn.btn-primary.point-btn Перейти к товару 
                        .point-callback 
                            input(type="text" placeholder="+375 (__) ___-__-__").callback-input
                            a(href="#").btn.btn-callback
                                svg.icon.icon--phone
                                    use(href="img/sprite.svg#phone") 
                                |Перезвоните мне
            .point-block.point-block--2
                .point
                .point-dropdown 
                    .point-dropdown__inner
                        a(href="#").card__name Диван Lily
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        a(href="#").btn.btn-primary.point-btn Перейти к товару 
                        .point-callback 
                            input(type="text" placeholder="+375 (__) ___-__-__").callback-input
                            a(href="#").btn.btn-callback
                                svg.icon.icon--phone
                                    use(href="img/sprite.svg#phone") 
                                |Перезвоните мне
            .point-block.point-block--center.point-block--3
                .point
                .point-dropdown 
                    .point-dropdown__inner
                        a(href="#").card__name Лампа Lily
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        a(href="#").btn.btn-primary.point-btn Перейти к товару 
                        .point-callback 
                            input(type="text" placeholder="+375 (__) ___-__-__").callback-input
                            a(href="#").btn.btn-callback
                                svg.icon.icon--phone
                                    use(href="img/sprite.svg#phone") 
                                |Перезвоните мне
        .previwe__item 
            .previwe__img
                img(src="img/new-pages-img/product-previwe/product-previwe-2.jpg", alt="")
            .point-block.point-block--right.point-block--4
                .point
                .point-dropdown 
                    .point-dropdown__inner
                        a(href="#").card__name Лампа Lily
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        a(href="#").btn.btn-primary.point-btn Перейти к товару 
                        .point-callback 
                            input(type="text" placeholder="+375 (__) ___-__-__").callback-input
                            a(href="#").btn.btn-callback
                                svg.icon.icon--phone
                                    use(href="img/sprite.svg#phone") 
                                |Перезвоните мне
            .point-block.point-block--5
                .point
                .point-dropdown 
                    .point-dropdown__inner
                        a(href="#").card__name Диван Lily
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        a(href="#").btn.btn-primary.point-btn Перейти к товару 
                        .point-callback 
                            input(type="text" placeholder="+375 (__) ___-__-__").callback-input
                            a(href="#").btn.btn-callback
                                svg.icon.icon--phone
                                    use(href="img/sprite.svg#phone") 
                                |Перезвоните мне
            .point-block.point-block--right.point-block--6
                .point
                .point-dropdown 
                    .point-dropdown__inner
                        a(href="#").card__name Лампа Lily
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        a(href="#").btn.btn-primary.point-btn Перейти к товару 
                        .point-callback 
                            input(type="text" placeholder="+375 (__) ___-__-__").callback-input
                            a(href="#").btn.btn-callback
                                svg.icon.icon--phone
                                    use(href="img/sprite.svg#phone") 
                                |Перезвоните мне
        .previwe__item 
            .previwe__img
                img(src="img/new-pages-img/product-previwe/product-previwe-3.jpg", alt="")
            .point-block.point-block--right.point-block--7
                .point
                .point-dropdown 
                    .point-dropdown__inner
                        a(href="#").card__name Лампа Lily
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        a(href="#").btn.btn-primary.point-btn Перейти к товару 
                        .point-callback 
                            input(type="text" placeholder="+375 (__) ___-__-__").callback-input
                            a(href="#").btn.btn-callback
                                svg.icon.icon--phone
                                    use(href="img/sprite.svg#phone") 
                                |Перезвоните мне
            .point-block.point-block--center.point-block--8
                .point
                .point-dropdown 
                    .point-dropdown__inner
                        a(href="#").card__name Диван Lily
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        a(href="#").btn.btn-primary.point-btn Перейти к товару 
                        .point-callback 
                            input(type="text" placeholder="+375 (__) ___-__-__").callback-input
                            a(href="#").btn.btn-callback
                                svg.icon.icon--phone
                                    use(href="img/sprite.svg#phone") 
                                |Перезвоните мне
    h3.title-sm.slider-title Эксклюзивно в #[span интернет-магазине]
    .main-product-slider 
        .splide__arrows
            .splide__arrow.splide__arrow--prev
                svg.icon.icon--main-angle-right
                    use(href="img/sprite.svg#main-angle-right")
            .splide__arrow.splide__arrow--next
                svg.icon.icon--main-angle-right
                    use(href="img/sprite.svg#main-angle-right")
        .splide__track
            .splide__list
                .splide__slide
                    .product-card
                        .product-card-slider
                            .splide__track
                                .splide__list
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-5.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-4.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-3.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                        .product-card__body
                            a(href="#").card__name Прямой диван Lily
                            .price-row
                                .price.price-sm
                                    .price__number
                                        span.price__label
                                        | 1300 
                                        span.price__number-currency BYN
                                    .price__old 1400 
                                        span.price__old-currency BYN
                                .price-row__right
                                    .installments.installments-sm
                                        | Рассрочка от 
                                        a.installments__link(href='#') 1200 BYN
                            .product-card__size
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-1.size-checkbox__input(type='radio' name='size-4' checked='')
                                    label.size-checkbox__label(for='size-4-1') 140х220
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-2.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-2') 120х200
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-3.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-3') 100х240
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-4.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-4') 120х280
                                a.card__row-more(href='#') +5
                            .card__availability
                                .availability-ico.availability-ico--green
                                | В наличии: 12
                            .product-card__hover 
                                a.btn.btn-primary.btn-card-block(href='#') В корзину
                .splide__slide    
                    .product-card
                        .product-card-slider
                            .splide__track
                                .splide__list
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-6.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-3.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                        .product-card__body
                            a(href="#").card__name Прямой диван Lily
                            .price-row
                                .price.price-sm
                                    .price__number
                                        span.price__label
                                        | 1300 
                                        span.price__number-currency BYN
                                    .price__old 1400 
                                        span.price__old-currency BYN
                                .price-row__right
                                    .installments.installments-sm
                                        | Рассрочка от 
                                        a.installments__link(href='#') 1200 BYN
                            .product-card__size
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-1.size-checkbox__input(type='radio' name='size-4' checked='')
                                    label.size-checkbox__label(for='size-4-1') 140х220
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-2.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-2') 120х200
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-3.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-3') 100х240
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-4.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-4') 120х280
                                a.card__row-more(href='#') +5
                            .card__availability
                                .availability-ico.availability-ico--green
                                | В наличии: 12
                            .product-card__hover 
                                a.btn.btn-primary.btn-card-block(href='#') В корзину
                .splide__slide    
                    .product-card
                        .product-card-slider
                            .splide__track
                                .splide__list
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-7.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-3.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                        .product-card__body
                            a(href="#").card__name Прямой диван Lily
                            .price-row
                                .price.price-sm
                                    .price__number
                                        span.price__label
                                        | 1300 
                                        span.price__number-currency BYN
                                    .price__old 1400 
                                        span.price__old-currency BYN
                                .price-row__right
                                    .installments.installments-sm
                                        | Рассрочка от 
                                        a.installments__link(href='#') 1200 BYN
                            .product-card__size
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-1.size-checkbox__input(type='radio' name='size-4' checked='')
                                    label.size-checkbox__label(for='size-4-1') 140х220
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-2.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-2') 120х200
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-3.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-3') 100х240
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-4.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-4') 120х280
                                a.card__row-more(href='#') +5
                            .card__availability
                                .availability-ico.availability-ico--green
                                | В наличии: 12
                            .product-card__hover 
                                a.btn.btn-primary.btn-card-block(href='#') В корзину
                .splide__slide    
                    .product-card
                        .product-card-slider
                            .splide__track
                                .splide__list
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-8.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-3.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                        .product-card__body
                            a(href="#").card__name Прямой диван Lily
                            .price-row
                                .price.price-sm
                                    .price__number
                                        span.price__label
                                        | 1300 
                                        span.price__number-currency BYN
                                    .price__old 1400 
                                        span.price__old-currency BYN
                                .price-row__right
                                    .installments.installments-sm
                                        | Рассрочка от 
                                        a.installments__link(href='#') 1200 BYN
                            .product-card__size
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-1.size-checkbox__input(type='radio' name='size-4' checked='')
                                    label.size-checkbox__label(for='size-4-1') 140х220
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-2.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-2') 120х200
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-3.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-3') 100х240
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-4.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-4') 120х280
                                a.card__row-more(href='#') +5
                            .card__availability
                                .availability-ico.availability-ico--green
                                | В наличии: 12
                            .product-card__hover 
                                a.btn.btn-primary.btn-card-block(href='#') В корзину
                .splide__slide    
                    .product-card
                        .product-card-slider
                            .splide__track
                                .splide__list
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-8.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-3.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                                    a(href="#").splide__slide
                                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                        .product-card__body
                            a(href="#").card__name Прямой диван Lily
                            .price-row
                                .price.price-sm
                                    .price__number
                                        span.price__label
                                        | 1300 
                                        span.price__number-currency BYN
                                    .price__old 1400 
                                        span.price__old-currency BYN
                                .price-row__right
                                    .installments.installments-sm
                                        | Рассрочка от 
                                        a.installments__link(href='#') 1200 BYN
                            .product-card__size
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-1.size-checkbox__input(type='radio' name='size-4' checked='')
                                    label.size-checkbox__label(for='size-4-1') 140х220
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-2.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-2') 120х200
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-3.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-3') 100х240
                                .size-checkbox.size-checkbox-sm
                                    input#size-4-4.size-checkbox__input(type='radio' name='size-4')
                                    label.size-checkbox__label(for='size-4-4') 120х280
                                a.card__row-more(href='#') +5
                            .card__availability
                                .availability-ico.availability-ico--green
                                | В наличии: 12
                            .product-card__hover 
                                a.btn.btn-primary.btn-card-block(href='#') В корзину
    .main-banner.bn.bn--color-2
        .bn-pillows
            img(src="img/new-pages-img/banner-pillows.png", alt="")
        .bn-body
            .bn-slogan 
                p Экономим с Askona
            .bn-inner
                .bn-title.bn-title--lg 
                    .bn-title__row.bn-title__color-1 Скидки:
                    |На все категории товаров
                .discount.discount--lg
                    .discount__pins 
                        span до
                        span -
                    .discount__number 50#[span %]
            a(href="#").button-banner Подробнее 
        .bn-img
            picture
                source( srcset="img/new-pages-img/chair-2.png", media="(min-width: 992px)")
                img(src="img/new-pages-img/chair-2-mobile.png", alt="")
    .categories-grid 
        .categories-grid__item 
            a(href="#").category.category--green
                .category__left
                    .category__name Для дома
                    .category__count 33 товара
                .category__img 
                    img(src="img/new-pages-img/categories-grid/categories-grid-1.png", alt="")
        .categories-grid__item--lg 
            a(href="#").category.category--gray
                .category__left
                    .category__name Диваны
                    .category__count 33 товара
                .category__img 
                    img(src="img/new-pages-img/categories-grid/categories-grid-3.png", alt="")
        .categories-grid__item 
            a(href="#").category.category--rose
                .category__left
                    .category__name Для детей
                    .category__count 33 товара
                .category__img 
                    img(src="img/new-pages-img/categories-grid/categories-grid-2.png", alt="")
    h3.title-sm.mb-39 Недавно добавляли в корзину 
    .grid-container 
        .grid-container__col-1-3
            .cart-previwe
                .cart-previwe__body
                    a(href="#").cart-previwe__img  
                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                    .cart-previwe__inner 
                        a(href="#").card__name Прямой диван Lily
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        .cart-previwe__row 
                            .cart-previwe__size 140х220
                            .installments.installments-sm
                                | Рассрочка от 
                                a.installments__link(href='#') 1200 BYN
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                .cart-previwe__hover 
                    a.btn.btn-primary.btn-card-block(href='#') В корзину
        .grid-container__col-1-3
            .cart-previwe
                .cart-previwe__body
                    a(href="#").cart-previwe__img  
                        .product-card__badge.product-card__badge-left.product-card__badge-top
                            .product-badge.product-badge--rose -30#[span %]
                        img(src="img/new-pages-img/product-card/product-card-6.jpg", alt="")
                    .cart-previwe__inner 
                        a(href="#").card__name Прямой диван Lily
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        .cart-previwe__row 
                            .cart-previwe__size 140х220
                            .installments.installments-sm
                                | Рассрочка от 
                                a.installments__link(href='#') 1200 BYN
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                .cart-previwe__hover 
                    a.btn.btn-primary.btn-card-block(href='#') В корзину
        .grid-container__col-1-3
            .cart-previwe
                .cart-previwe__body
                    a(href="#").cart-previwe__img  
                        img(src="img/new-pages-img/product-card/product-card-3.jpg", alt="")
                    .cart-previwe__inner 
                        a(href="#").card__name Прямой диван Lily
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        .cart-previwe__row 
                            .cart-previwe__size 140х220
                            .installments.installments-sm
                                | Рассрочка от 
                                a.installments__link(href='#') 1200 BYN
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                .cart-previwe__hover 
                    a.btn.btn-primary.btn-card-block(href='#') В корзину
        .grid-container__col-1-3
            .cart-previwe
                .cart-previwe__body
                    a(href="#").cart-previwe__img  
                        img(src="img/new-pages-img/product-card/product-card-1.jpg", alt="")
                    .cart-previwe__inner 
                        a(href="#").card__name Прямой диван Lily
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        .cart-previwe__row 
                            .cart-previwe__size 140х220
                            .installments.installments-sm
                                | Рассрочка от 
                                a.installments__link(href='#') 1200 BYN
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                .cart-previwe__hover 
                    a.btn.btn-primary.btn-card-block(href='#') В корзину
        .grid-container__col-1-3
            .cart-previwe
                .cart-previwe__body
                    a(href="#").cart-previwe__img  
                        img(src="img/new-pages-img/product-card/product-card-2.jpg", alt="")
                    .cart-previwe__inner 
                        a(href="#").card__name Прямой диван Lily
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        .cart-previwe__row 
                            .cart-previwe__size 140х220
                            .installments.installments-sm
                                | Рассрочка от 
                                a.installments__link(href='#') 1200 BYN
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                .cart-previwe__hover 
                    a.btn.btn-primary.btn-card-block(href='#') В корзину
        .grid-container__col-1-3
            .cart-previwe
                .cart-previwe__body
                    a(href="#").cart-previwe__img  
                        img(src="img/new-pages-img/product-card/product-card-8.jpg", alt="")
                    .cart-previwe__inner 
                        a(href="#").card__name Прямой диван Lily
                        .price.price-sm
                            .price__number
                                span.price__label
                                | 1300 
                                span.price__number-currency BYN
                            .price__old 1400 
                                span.price__old-currency BYN
                        .cart-previwe__row 
                            .cart-previwe__size 140х220
                            .installments.installments-sm
                                | Рассрочка от 
                                a.installments__link(href='#') 1200 BYN
                        .card__availability
                            .availability-ico.availability-ico--green
                            | В наличии: 12
                .cart-previwe__hover 
                    a.btn.btn-primary.btn-card-block(href='#') В корзину
    h3.title-sm.slider-title Важное
    .article-slider 
        .splide__arrows
            .splide__arrow.splide__arrow--prev
                svg.icon.icon--main-angle-right
                    use(href="img/sprite.svg#main-angle-right")
            .splide__arrow.splide__arrow--next
                svg.icon.icon--main-angle-right
                    use(href="img/sprite.svg#main-angle-right")
        .splide__track
            .splide__list
                .splide__slide
                    a(href="#").article-card 
                        .article-card__img 
                            img(src="img/new-pages-img/article/article-1.jpg", alt="")
                        .article-card__body
                            .article-card__name Топ-7 товаров в скандинавском стиле от Askona
                            .article-card__text
                                p Для того, чтобы жить как в Скандинавии, не обязательно переезжать в Скандинавию. Тем более там холодно (и сыро)....
                .splide__slide
                    a(href="#").article-card 
                        .article-card__img 
                            img(src="img/new-pages-img/article/article-2.jpg", alt="")
                        .article-card__body
                            .article-card__name Не просто интерьер, а образ жизни: что такое скандинавский стиль?
                            .article-card__text
                                p Скандинавский стиль в интерьере — пожалуй, один из самых популярных. Его секрет заключается не только в простоте и доступности материалов....
                .splide__slide
                    a(href="#").article-card 
                        .article-card__img 
                            img(src="img/new-pages-img/article/article-3.jpg", alt="")
                        .article-card__body
                            .article-card__name Чек-лист по подбору и использованию матрасов
                            .article-card__text
                                p Компания Аскона подготовила несколько рекомендаций по выбору и правильному использованию матраса.....
                .splide__slide
                    a(href="#").article-card 
                        .article-card__img 
                            img(src="img/new-pages-img/article/article-4.jpg", alt="")
                        .article-card__body
                            .article-card__name Делаете ремонт в квартире? Не допустите 3 самых популярных ошибки при расстановке мебели
                            .article-card__text
                                p Увидели вы в интернете красивую картинку интерьера, и вам тут же хочется его повторить....
                .splide__slide
                    a(href="#").article-card 
                        .article-card__img 
                            img(src="img/new-pages-img/article/article-3.jpg", alt="")
                        .article-card__body
                            .article-card__name Чек-лист по подбору и использованию матрасов
                            .article-card__text
                                p Компания Аскона подготовила несколько рекомендаций по выбору и правильному использованию матраса.....
    h3.title-sm.mb-39.slider-title Мы в инстаграм
    .instagram-slider 
        .splide__arrows
            .splide__arrow.splide__arrow--prev
                svg.icon.icon--main-angle-right
                    use(href="img/sprite.svg#main-angle-right")
            .splide__arrow.splide__arrow--next
                svg.icon.icon--main-angle-right
                    use(href="img/sprite.svg#main-angle-right")
        .splide__track
            .splide__list
                a(href="#").splide__slide.instagram-slide
                    .instagram-slide__img 
                        img(src="img/new-pages-img/instagram/instagram-1.jpg", alt="")
                    .instagram-slide__name askona_official
                a(href="#").splide__slide.instagram-slide
                    .instagram-slide__img 
                        img(src="img/new-pages-img/instagram/instagram-2.jpg", alt="")
                    .instagram-slide__name askona_official
                a(href="#").splide__slide.instagram-slide
                    .instagram-slide__img 
                        img(src="img/new-pages-img/instagram/instagram-3.jpg", alt="")
                    .instagram-slide__name askona_official
                a(href="#").splide__slide.instagram-slide
                    .instagram-slide__img 
                        img(src="img/new-pages-img/instagram/instagram-4.jpg", alt="")
                    .instagram-slide__name askona_official
                a(href="#").splide__slide.instagram-slide
                    .instagram-slide__img 
                        img(src="img/new-pages-img/instagram/instagram-3.jpg", alt="")
                    .instagram-slide__name askona_official
    h3.title-sm.mb-39 Отзывы о нас
    ul.reviwe-tabs
        li.reviwe-tabs__item 
            a(href="#", data-tab="tab-1").reviwe-tabs__link.is-active.tab-btn Текстовые отзывы
        li.reviwe-tabs__item 
            a(href="#", data-tab="tab-2").reviwe-tabs__link.tab-btn Видео отзывы
        li.reviwe-tabs__item 
            a(href="#", data-tab="tab-3").reviwe-tabs__link.tab-btn 3 вид отзывов
    div(data-tab-content="tab-1").tab-pane.is-active
        .main-reviwe-container
            .main-reviwe-sl
                .splide__arrows
                    .splide__arrow.splide__arrow--prev
                        svg.icon.icon--main-angle-right
                            use(href="img/sprite.svg#main-angle-right")
                    .splide__arrow.splide__arrow--next
                        svg.icon.icon--main-angle-right
                            use(href="img/sprite.svg#main-angle-right")
                .splide__track
                    .splide__list
                        .splide__slide
                            .reviwe-block 
                                .reviwe-block__head 
                                    .reviwe-rating
                                        .reviwe-rating__number 4,7
                                        ul.reviwe-stars
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                    a(href="#").link-b Смотреть на карте 
                                .reviwe-block__name Галина Кострицина
                                .reviwe-block__text 
                                    p Добрый день! Мы искренне рады, что вы остались довольны качеством наших товаров и сервиса. Мы постоянно предоставляем скидки и акции на различные виды товаров. Например, «Товар недели», «Специальное предложение» и так далее. А еще, вы всегда можете оплатить до 20% покупки бонусами «Askona». Приходите, будем с удовольствием ждать вас в наших салонах!
                        .splide__slide
                            .reviwe-block 
                                .reviwe-block__head 
                                    .reviwe-rating
                                        .reviwe-rating__number 4,7
                                        ul.reviwe-stars
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                    a(href="#").link-b Смотреть на карте 
                                .reviwe-block__name Галина Кострицина
                                .reviwe-block__text 
                                    p Добрый день! Мы искренне рады, что вы остались довольны качеством наших товаров и сервиса. Мы постоянно предоставляем скидки и акции на различные виды товаров. Например, «Товар недели», «Специальное предложение» и так далее. А еще, вы всегда можете оплатить до 20% покупки бонусами «Askona». Приходите, будем с удовольствием ждать вас в наших салонах!
                        .splide__slide
                            .reviwe-block 
                                .reviwe-block__head
                                    .reviwe-rating
                                        .reviwe-rating__number 4,7
                                        ul.reviwe-stars
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item.is-active
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                            li.reviwe-stars__item
                                                svg.icon.icon--star
                                                    use(href='img/sprite.svg#star')
                                    a(href="#").link-b Смотреть на карте 
                                .reviwe-block__name Галина Кострицина
                                .reviwe-block__text 
                                    p Добрый день! Мы искренне рады, что вы остались довольны качеством наших товаров и сервиса. Мы постоянно предоставляем скидки и акции на различные виды товаров. Например, «Товар недели», «Специальное предложение» и так далее. А еще, вы всегда можете оплатить до 20% покупки бонусами «Askona». Приходите, будем с удовольствием ждать вас в наших салонах!
            .main-reviwe__bottom 
                a(href="#").link-blue Смотреть все отзывы
                    svg.icon.icon--arrow-left-long
                        use(href='img/sprite.svg#arrow-left-long')
    div(data-tab-content="tab-2").tab-pane
        |2
    div(data-tab-content="tab-3").tab-pane
        |3
.subscription.subscription-fixed
    a(href="#").subscription__close 
        svg.icon.icon--cross
            use(href='img/sprite.svg#cross')
    .subscription__img
        img(src="img/new-pages-img/subscription.png", alt="")
    .subscription__text
        p Раз в 2 недели мы делаем рассылку о наших скидках и акциях. #[br] Будьте в курсе!
    .subscription__form
        .subscription__form-inner
            input(type="text" placeholder="Введите ваш e-mail").subscription__input 
            a(href="#").subscription__btn Подписаться
        .subscription__agree 
            svg.icon.icon--agree
                use(href='img/sprite.svg#agree')
            |Настоящим даю согласие на рассылку