div(style="padding-top: 27px;").main-container
    .breadcrumbs 
        ul.breadcrumbs-list 
            li.breadcrumbs-list__item 
                a(href="").breadcrumbs-list__link Главная
            li.breadcrumbs-list__item Диваны
        a(href="#").breadcrumbs__btn-mobile 
            svg.icon.icon--angle-left
                use(href="img/sprite.svg#angle-left")
            |Диваны
    .result-head 
        h1.title-sm Детальный подбор матрасов
        a(href="#").btn.btn-back Вернуться к детальному подбору 
    .catalog-section
        div.catalog-sidebar 
            .catalog-filters
                a.catalog-sidebar__close.mla(href='#')
                    svg.icon.icon--cross
                        use(href='img/sprite.svg#cross')
                h4.result-title Кто будет спать на матрасе?
                .amount-result
                    .amount-result__icon
                        svg.icon.icon--couple
                            use(href="img/sprite.svg#couple")
                    .amount-result__text Двое взрослых
                h4.result-title Размер матраса
                .result-size-l
                    .result-size-l__item 
                        .result-size 100х200
                    .result-size-l__item 
                        .result-size 100х200
                    .result-size-l__item 
                        .result-size 100х200
                    .result-size-l__item 
                        .result-size 100х200
                    .result-size-l__item 
                        .result-size 100х200
                .result-client
                    .client-info__item.client-info__item--sm 
                        .client-info__picture 
                            svg.icon.icon--man-2
                                use(href="img/sprite.svg#man-2")
                        .client-info__text 
                            p 1-й спящий #[span 25 лет]
                            p Вес #[span 55 кг] 
                    .client-info__item.client-info__item--sm
                        .client-info__picture 
                            svg.icon.icon--man-2
                                use(href="img/sprite.svg#man-2")
                        .client-info__text 
                            p 2-й спящий #[span 25 лет]
                            p Вес #[span 55 кг] 
                h4.result-title.result-title--lg 1-й спящий
                .result-list
                    .checkbox-circle.checkbox-circle-result
                        .checkbox-circle__label
                            |Спина не болит
                    .checkbox-circle.checkbox-circle-result
                        .checkbox-circle__label
                            |Нет аллергии
                h4.result-title.result-title--lg 2-й спящий
                .result-list
                    .checkbox-circle.checkbox-circle-result
                        .checkbox-circle__label
                            |Спина не болит
                    .checkbox-circle.checkbox-circle-result
                        .checkbox-circle__label
                            |Нет аллергии
                .selection-quality 
                    .quality.quality--blue
                        .quality__text Экстрамягкий
                        ul.quality-stars
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                    .quality.quality--green
                        .quality__text Мягкий
                        ul.quality-stars
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                    .quality.quality--orange
                        .quality__text Средний
                        ul.quality-stars
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                    .quality.quality--red
                        .quality__text Жесткий
                        ul.quality-stars
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                    .quality.quality--violet
                        .quality__text Жесткий
                        ul.quality-stars
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                            li.quality-stars__item
                                svg.icon.icon--star
                                    use(href="img/sprite.svg#star-2")
                a(href="#").btn.btn-primary.btn-result Вернуться к детальному подбору  

        .catalog-body
            a(href="#").btn.btn-primary.btn-result.btn-filter-mobile
                |Результат