div(style="padding-top: 27px;").main-container
    .breadcrumbs
        ul.breadcrumbs-list
            li.breadcrumbs-list__item
                a.breadcrumbs-list__link(href='') Главная
            li.breadcrumbs-list__item Диваны
        a.breadcrumbs__btn-mobile(href='#')
            svg.icon.icon--angle-left
                use(href='img/sprite.svg#angle-left')
            | Диваны
    h3.title-sm.mb-39 Наши магазины
    .shop-filter-wrap
        .shop-filter__holder
            .shop-filter__holder-text
                | Все
            svg.icon.icon--angle-down
                use(href='img/sprite.svg#angle-down')

        ul.shop-filter 
            li.shop-filter__item 
                a(href="#").shop-filter__link.is-active Все
            li.shop-filter__item 
                a(href="#").shop-filter__link Минск
            li.shop-filter__item 
                a(href="#").shop-filter__link Гродно
            li.shop-filter__item 
                a(href="#").shop-filter__link Брест
            li.shop-filter__item 
                a(href="#").shop-filter__link Бобруйск
            li.shop-filter__item 
                a(href="#").shop-filter__link Гомель
            li.shop-filter__item 
                a(href="#").shop-filter__link Барановичи
            li.shop-filter__item 
                a(href="#").shop-filter__link Могилёв 
    ul.shops-list 
        li.shops-list__item
            a(href="#").shops-list__img.is-active
                img(src="img/new-pages-img/shops/shop-1.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-2.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-3.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-1.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-2.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-3.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-1.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-2.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-3.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-1.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-2.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-3.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-1.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-2.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-3.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-1.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-2.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-3.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-1.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-2.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-3.png", alt="")
        li.shops-list__item
            a(href="#").shops-list__img
                img(src="img/new-pages-img/shops/shop-1.png", alt="")
    .shop-wrap 
        .shop-wrap__col 
            .shop-wrap__head 
                .shop-address
                    svg.icon.icon--map-marker
                        use(href='img/sprite.svg#map-marker')
                    .shop-address__info 
                        |Askona в ТЦ «Дана Молл» #[br] Минск, ул. Петра Мстиславца 11, этаж 3
                a(href="#").link-b Смотреть на карте
            a(href="tel:+375293870122").shop-phone +375 (29) 387-01-22
            time.shop-time 10:00-22:00
            h4.shop-title Отзыв
            .shop-reviwe
                .reviwe-block 
                    .reviwe-block__head
                        .reviwe-rating
                            .reviwe-rating__number 4,7
                            ul.reviwe-stars
                                li.reviwe-stars__item.is-active
                                    svg.icon.icon--star
                                        use(href='img/sprite.svg#star')
                                li.reviwe-stars__item.is-active
                                    svg.icon.icon--star
                                        use(href='img/sprite.svg#star')
                                li.reviwe-stars__item.is-active
                                    svg.icon.icon--star
                                        use(href='img/sprite.svg#star')
                                li.reviwe-stars__item.is-active
                                    svg.icon.icon--star
                                        use(href='img/sprite.svg#star')
                                li.reviwe-stars__item
                                    svg.icon.icon--star
                                        use(href='img/sprite.svg#star')
                    .reviwe-block__name Галина Кострицина
                    .reviwe-block__text 
                        p Добрый день! Мы искренне рады, что вы остались довольны качеством наших товаров и сервиса. Мы постоянно предоставляем скидки и акции на различные виды товаров. Например, «Товар недели», «Специальное предложение» и так далее. А еще, вы всегда можете оплатить до 20% покупки бонусами «Askona». Приходите, будем с удовольствием ждать вас в наших салонах!
                a(href="#").link-blue Смотреть все отзывы
                    svg.icon.icon--arrow-left-long
                        use(href='img/sprite.svg#arrow-left-long')  
                .shop-buttons 
                    a(href="#").btn.btn-shadow Уточнить наличие
                    a(href="#").btn.btn-secondary 3D тур по салону 
        .shop-wrap__col 
            .shop-slider 
                .splide__arrows
                    .splide__arrow.splide__arrow--prev
                        svg.icon.icon--main-angle-right
                            use(href="img/sprite.svg#main-angle-right")
                    .splide__arrow.splide__arrow--next
                        svg.icon.icon--main-angle-right
                            use(href="img/sprite.svg#main-angle-right")
                .splide__track
                    .splide__list
                        .splide__slide
                            img(src="img/new-pages-img/shop-slider/shop-slider-1.png", alt="")
                        .splide__slide
                            img(src="img/new-pages-img/shop-slider/shop-slider-2.png", alt="")
                        .splide__slide
                            img(src="img/new-pages-img/shop-slider/shop-slider-3.png", alt="")
                        .splide__slide
                            img(src="img/new-pages-img/shop-slider/shop-slider-4.png", alt="")
                        .splide__slide
                            img(src="img/new-pages-img/shop-slider/shop-slider-5.png", alt="")
                        .splide__slide
                            img(src="img/new-pages-img/shop-slider/shop-slider-1.png", alt="")
                        .splide__slide
                            img(src="img/new-pages-img/shop-slider/shop-slider-2.png", alt="")
                        .splide__slide
                            img(src="img/new-pages-img/shop-slider/shop-slider-3.png", alt="")
                        .splide__slide
                            img(src="img/new-pages-img/shop-slider/shop-slider-4.png", alt="")
                        .splide__slide
                            img(src="img/new-pages-img/shop-slider/shop-slider-5.png", alt="")
            .shop-slider-thumb-cont 
                .shop-slider-thumb
                    .splide__track
                        .splide__list
                            .splide__slide
                                img(src="img/new-pages-img/shop-slider/shop-slider-1.png", alt="")
                            .splide__slide
                                img(src="img/new-pages-img/shop-slider/shop-slider-2.png", alt="")
                            .splide__slide
                                img(src="img/new-pages-img/shop-slider/shop-slider-3.png", alt="")
                            .splide__slide
                                img(src="img/new-pages-img/shop-slider/shop-slider-4.png", alt="")
                            .splide__slide
                                img(src="img/new-pages-img/shop-slider/shop-slider-5.png", alt="")
                            .splide__slide
                                img(src="img/new-pages-img/shop-slider/shop-slider-1.png", alt="")
                            .splide__slide
                                img(src="img/new-pages-img/shop-slider/shop-slider-2.png", alt="")
                            .splide__slide
                                img(src="img/new-pages-img/shop-slider/shop-slider-3.png", alt="")
                            .splide__slide
                                img(src="img/new-pages-img/shop-slider/shop-slider-4.png", alt="")
                            .splide__slide
                                img(src="img/new-pages-img/shop-slider/shop-slider-5.png", alt="")
                .shop-slider-thumb-counter
    .map#map
        <iframe src="https://www.google.com/maps/d/embed?mid=1OHS_FzkgIqHluu_7B4dSqoaHCJKWEFxf&ehbc=2E312F" frameborder="0" referrerpolicy="no-referrer-when-downgrade"></iframe>