div(style="padding-top: 27px;").main-container
    .breadcrumbs 
        ul.breadcrumbs-list 
            li.breadcrumbs-list__item 
                a(href="").breadcrumbs-list__link Главная
            li.breadcrumbs-list__item Диваны
        a(href="#").breadcrumbs__btn-mobile 
            svg.icon.icon--angle-left
                use(href="img/sprite.svg#angle-left")
            |Главная
    h3.title-sm Для покупателей
    .text-tabs 
        .text-nav 
            .text-nav__holder Возврат и замена товаров
            svg.icon.icon--angle-down
                use(href="img/sprite.svg#angle-down")
            .text-nav__inner
                a(href="#" data-text-tab="tab-1").text-nav__link.is-active Возврат и замена товаров
                a(href="#" data-text-tab="tab-2").text-nav__link Гарантийные обязательства
                a(href="#" data-text-tab="tab-3").text-nav__link Образцы документов
                a(href="#" data-text-tab="tab-4").text-nav__link Сведения о сервисных центрах
                a(href="#" data-text-tab="tab-5").text-nav__link Изготовитель
                a(href="#" data-text-tab="tab-6").text-nav__link Импортер
                a(href="#" data-text-tab="tab-7").text-nav__link Доставка и сборка
        div(data-text-tab-content="tab-1").text-pane.is-active 
            .text-wrapper
                p.mb-45 Компания ООО «ТД Аскона-Импорт» предлагает около 70 000 изделий от ведущих производителей строительной техники и инструментов, а также товаров для дома, сада и огорода. На продукцию, имеющую гарантийный талон или заменяющий его документ, распространяется гарантия производителя. Для ремонта по гарантии обращайтесь в точку приобретения товара или напрямую в авторизованный сервисный центр или мастерскую.
                h4 Как долго действует гарантия?
                p Длительность гарантийного обслуживания и срок эксплуатации товара устанавливаются заводом-изготовителем и указываются в гарантийном талоне либо документе, который его заменяет. Уточнить данную информацию можно:
        div(data-text-tab-content="tab-2").text-pane
            .text-wrapper
                h4 Как долго действует гарантия?
                p.mb-30 Длительность гарантийного обслуживания и срок эксплуатации товара устанавливаются заводом-изготовителем и указываются в гарантийном талоне либо документе, который его заменяет. 
                h5 Уточнить данную информацию можно:
                ul 
                    li на упаковке изделия,
                    li по телефону у консультанта Компании ОМА,
                    li на сайте производителя.
                    li Что должно быть указано в гарантийном талоне?
                    li Документ должен содержать следующую информацию:
                    li наименование товара,
                    li день покупки,
                    li модель изделия,
                    li серийный номер товара.
                p На лицевой странице талона и отрывных купонах при их наличии ставится штамп продавца. Убедившись в комплектности изделия и отсутствии внешних дефектов, покупатель подписывает талон.
                h4 Как вернуть некачественный товар?
                p В случае обнаружения потребителем недостатков товара и предъявления требования о замене такого товара продавец (изготовитель, поставщик, представитель) обязан заменить такой товар незамедлительно, а при необходимости дополнительной проверки качества такого товара продавцом (изготовителем, поставщиком, представителем) – заменить его в течение четырнадцати дней со дня предъявления указанного требования. Чтобы вернуть товар ненадлежащего качества и получить уплаченные за него деньги необходимо: обратиться в точку реализации товара. Если товар куплен в розничной сети ОМА, нужно приехать именно в тот магазин, где вы его покупали. Если товар был приобретен в интернет-магазине компании, позвоните по телефону 6-978-978 (Velcom, MTC, Life), и специалист сообщит условия возврата товара, подтвердить специалисту по качеству факт приобретения товара. Для этого могут использоваться свидетельские показания, элементы потребительской тары (упаковки), на которых имеются отметки, подтверждающие, что приобретение товара осуществлялось у данного продавца, а также документы и другие средства доказывания, указывающие на приобретение товара у данного продавца, заполнить заявление на возврат некачественного товара, согласовать со специалистом ОМА возврат денежных средств.
                p Требования потребителя о соразмерном уменьшении покупной цены товара ненадлежащего качества, возмещении расходов на устранение недостатков товара потребителем или третьим лицом, расторжении договора розничной купли-продажи и (или) возврате уплаченной за товар ненадлежащего качества денежной суммы подлежат удовлетворению продавцом (изготовителем, поставщиком, представителем) незамедлительно. В случае, если удовлетворить требования потребителя незамедлительно не представляется возможным, максимальный срок для удовлетворения требований потребителя не может превышать семи дней со дня предъявления соответствующего требования, а при необходимости проведения экспертизы – четырнадцати дней.
                h4 Как вернуть товар надлежащего качества?
                p Если вам не подошел исправный и качественный товар, то в течение 14 календарных дней со дня покупки вы может его вернуть. Обязательное условие — товарный вид и сохранение потребительских свойств изделия. Однако вернуть можно не все покупки. Перечень непродовольственных товаров надлежащего качества, не подлежащих обмену и возврату, утвержден Постановлением Совета Министров Республики Беларусь № 935 от 22.12.2018 года. Если товар куплен в розничной сети ОМА, нужно приехать именно в тот магазин, где вы его покупали. Если товар был приобретен в интернет-магазине компании, позвоните по телефону 6-978-978 (Velcom, MTC, Life), и специалист сообщит, в какой Строительный дом ОМА вы можете его вернуть.
                h4 Как осуществляется возврат средств при оплате банковской карточкой онлайн?
                p Онлайн-оплата на сайте www.oma.by осуществляется через Системy электронных платежей. Безопасный сервер устанавливает шифрованное соединение по защищенному протоколу TLS и конфиденциально принимает от клиента данные его пластиковой банковской карты (номер карты, имя держателя, дату окончания действия, и контрольный номер банковской карточке CVC/CVC2). Возврат денежных средств осуществляется на ту банковскую карту, с которой была произведена оплата. В случае, если вы не получили заказ, обратитесь в службу технической поддержки за консультацией по телефону 6-978-978 (Velcom, MTC, Life). После совершения оплаты с использованием банковской карты обязательно сохраняйте полученные карт-чеки (подтверждения об оплате в интернет-магазине) для сверки с выпиской из карт-счета (чтобы подтвердить совершенные операции при возникновении спорных ситуаций).
                h4 Как осуществляется возврат предоплаты?
                p Если вы передумали покупать товар, но уже оплатили его, то денежные средства будут возвращены вам в срок до семи дней с момента предъявления требования о возврате предварительно оплаченной суммы. При оплате картой возврат денежных средств осуществляется на ту банковскую карту, с которой была произведена предоплата. В случае, если у вас возникли вопросы, обратитесь в службу технической поддержки за консультацией по телефону 6-978-978 (A1, MTC, Life). Обязательно сохраняйте полученные документы до момента, когда сумма предоплаты будет вам возвращена.
        div(data-text-tab-content="tab-3").text-pane
            .img-list 
                .img-list__item 
                    h5.img-list__title Образец  гарантийного талона
                    .img-list__picture 
                        img(src="img/Rectangle.jpg", alt="")
                .img-list__item 
                    h5.img-list__title Образец  Товаро-транспортной накладной
                    .img-list__picture 
                        img(src="img/Rectangle.jpg", alt="")
                .img-list__item 
                    h5.img-list__title Образец чека
                    .img-list__picture 
                        img(src="img/Rectangle.jpg", alt="")
        div(data-text-tab-content="tab-4").text-pane
            .text-wrapper 
                h4 Беларусь    
                .text-row 
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
        div(data-text-tab-content="tab-5").text-pane
            .text-wrapper 
                h4 Беларусь    
                .text-row 
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                h4 Россия
                .text-row 
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                h4 Казахстан
                .text-row 
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
        div(data-text-tab-content="tab-6").text-pane
            .text-wrapper 
                h4 Беларусь    
                .text-row 
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                h4 Россия
                .text-row 
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                h4 Казахстан
                .text-row 
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
                    .text-row__col 
                        .address-item 
                            .address-item__text Askona в ТЦ «Дана Молл»
                            .address-item__text Минск, ул. Петра Мстиславца 11, этаж 3
                        .address-item 
                            .address-item__text Askona в ТЦ «Корона-Сити»
                            .address-item__text Минск, ул. Денисовская 8, этаж 2
                        .address-item 
                            .address-item__text Askona в ТЦ «Замок» HOME
                            .address-item__text Минск, пр-т Победителей 65к1, этаж 6
        div(data-text-tab-content="tab-7").text-pane
            .text-wrapper
                h4 Как долго действует гарантия?
                p.mb-30 Длительность гарантийного обслуживания и срок эксплуатации товара устанавливаются заводом-изготовителем и указываются в гарантийном талоне либо документе, который его заменяет. 
                h5 Уточнить данную информацию можно:
                ul 
                    li на упаковке изделия,
                    li по телефону у консультанта Компании ОМА,
                    li на сайте производителя.
                    li Что должно быть указано в гарантийном талоне?
                    li Документ должен содержать следующую информацию:
                    li наименование товара,
                    li день покупки,
                    li модель изделия,
                    li серийный номер товара.
                p На лицевой странице талона и отрывных купонах при их наличии ставится штамп продавца. Убедившись в комплектности изделия и отсутствии внешних дефектов, покупатель подписывает талон.
                h4 Как вернуть некачественный товар?
                p В случае обнаружения потребителем недостатков товара и предъявления требования о замене такого товара продавец (изготовитель, поставщик, представитель) обязан заменить такой товар незамедлительно, а при необходимости дополнительной проверки качества такого товара продавцом (изготовителем, поставщиком, представителем) – заменить его в течение четырнадцати дней со дня предъявления указанного требования. Чтобы вернуть товар ненадлежащего качества и получить уплаченные за него деньги необходимо: обратиться в точку реализации товара. Если товар куплен в розничной сети ОМА, нужно приехать именно в тот магазин, где вы его покупали. Если товар был приобретен в интернет-магазине компании, позвоните по телефону 6-978-978 (Velcom, MTC, Life), и специалист сообщит условия возврата товара, подтвердить специалисту по качеству факт приобретения товара. Для этого могут использоваться свидетельские показания, элементы потребительской тары (упаковки), на которых имеются отметки, подтверждающие, что приобретение товара осуществлялось у данного продавца, а также документы и другие средства доказывания, указывающие на приобретение товара у данного продавца, заполнить заявление на возврат некачественного товара, согласовать со специалистом ОМА возврат денежных средств.
                p Требования потребителя о соразмерном уменьшении покупной цены товара ненадлежащего качества, возмещении расходов на устранение недостатков товара потребителем или третьим лицом, расторжении договора розничной купли-продажи и (или) возврате уплаченной за товар ненадлежащего качества денежной суммы подлежат удовлетворению продавцом (изготовителем, поставщиком, представителем) незамедлительно. В случае, если удовлетворить требования потребителя незамедлительно не представляется возможным, максимальный срок для удовлетворения требований потребителя не может превышать семи дней со дня предъявления соответствующего требования, а при необходимости проведения экспертизы – четырнадцати дней.
                h4 Как вернуть товар надлежащего качества?
                p Если вам не подошел исправный и качественный товар, то в течение 14 календарных дней со дня покупки вы может его вернуть. Обязательное условие — товарный вид и сохранение потребительских свойств изделия. Однако вернуть можно не все покупки. Перечень непродовольственных товаров надлежащего качества, не подлежащих обмену и возврату, утвержден Постановлением Совета Министров Республики Беларусь № 935 от 22.12.2018 года. Если товар куплен в розничной сети ОМА, нужно приехать именно в тот магазин, где вы его покупали. Если товар был приобретен в интернет-магазине компании, позвоните по телефону 6-978-978 (Velcom, MTC, Life), и специалист сообщит, в какой Строительный дом ОМА вы можете его вернуть.
                h4 Как осуществляется возврат средств при оплате банковской карточкой онлайн?
                p Онлайн-оплата на сайте www.oma.by осуществляется через Системy электронных платежей. Безопасный сервер устанавливает шифрованное соединение по защищенному протоколу TLS и конфиденциально принимает от клиента данные его пластиковой банковской карты (номер карты, имя держателя, дату окончания действия, и контрольный номер банковской карточке CVC/CVC2). Возврат денежных средств осуществляется на ту банковскую карту, с которой была произведена оплата. В случае, если вы не получили заказ, обратитесь в службу технической поддержки за консультацией по телефону 6-978-978 (Velcom, MTC, Life). После совершения оплаты с использованием банковской карты обязательно сохраняйте полученные карт-чеки (подтверждения об оплате в интернет-магазине) для сверки с выпиской из карт-счета (чтобы подтвердить совершенные операции при возникновении спорных ситуаций).
                h4 Как осуществляется возврат предоплаты?
                p Если вы передумали покупать товар, но уже оплатили его, то денежные средства будут возвращены вам в срок до семи дней с момента предъявления требования о возврате предварительно оплаченной суммы. При оплате картой возврат денежных средств осуществляется на ту банковскую карту, с которой была произведена предоплата. В случае, если у вас возникли вопросы, обратитесь в службу технической поддержки за консультацией по телефону 6-978-978 (A1, MTC, Life). Обязательно сохраняйте полученные документы до момента, когда сумма предоплаты будет вам возвращена.
        