.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    outline: 0;
    transition: 0.3s all ease;
    border-radius: 6px;
    border: 2px solid transparent;
    font-size: 16px;
    padding: 11px 15px;
}
.btn-sm {
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 9px;
}
.btn-primary {
    background: $blueColor;
    color: #fff;
}
a.btn-primary {

    &:hover {
        background: #fff;
        color: $blueColor;
        border-color: $blueColor;

    }
}
.btn-full {
    width: 100%;
    text-align: center;
}
.btn-product {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 14px 0;
}
.btn-border {
    text-decoration: none;
    outline: 0;
    transition: 0.3s all ease;
    border-radius: 6px;
    border: 2px solid transparent;
    display: inline-flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 27px;
    transition: 0.3s all ease;
}
.btn-border-lg {
    height: 57px;
    font-size: 18px;
    line-height: 20px;
}
.btn-border--blue {
    color: $blueColor;
    border-color: $blueColor;

    &:hover {
        color: #fff;
        background: $blueColor;
    }
}
.btn-border--black {
    color: #444;
    border-color: #444;

    &:hover {
        color: #fff;
        background: #444;
    }
}
.btn-border--white {
    color: #fff;
    border-color: #fff;

    &:hover {
        color: #fff;
        background-color: $blueColor;
    }
}
.btn-clear {
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    background-color: #fff;
    color: #c4c4c4;
    font-size: 14px;

    &:hover {
        color: $mainColor;
        border-color: $mainColor;
    }
}
.btn-card {
    max-width: 170px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 42px;
    line-height: 40px;
    padding: 0;
}

@media (max-width: 1440px) {
    .btn-card {
        max-width: 143px;
    }
}

@media (max-width: 1350px) {
    .btn-card {
        max-width: 123px;
    }
}

@media (max-width: 992px) {
    .btn-card {
        max-width: 150px;
    }
}

@media (max-width: 768px) {
    .btn-card {
        max-width: 124px;
    }
}

@media (max-width: 658px) {
    .btn-card {
        max-width: 150px;
    }
}

@media (max-width: 399px) {
    .btn-card {
        max-width: 130px;
    }
}
