.icon {
  fill: currentColor; 
  display: inline-block;
  vertical-align: top;

  &--arrow-down {
    width: 14px;
    height: 10px;
  }

  &--zoom-plus {
    width: 19px;
    height: 19px;
  }

  &--star {
    width: 19px;
    height: 19px;
  }

  &--heart {
    width: 23px;
    height: 19px;
  }

  &--heart-fill {
    width: 23px;
    height: 23px;
  }

  &--discount {
    width: 21px;
    height: 23px;
  }

  &--box {
    width: 32px;
    height: 35px;
  }

  &--clock {
    width: 31px;
    height: 32px;
  }

  &--car {
    width: 30px;
    height: 31px;
  }

  &--garage {
    width: 33px;
    height: 33px;
  }

  &--timer {
    width: 29px;
    height: 32px;
  }

  &--message {
    width: 33px;
    height: 30px;
  }

  &--download {
    width: 26px;
    height: 34px;
  }

  &--file {
    width: 34px;
    height: 31px;
  }

  &--exclamation {
    width: 31px;
    height: 31px;
  }

  &--like {
    width: 18px;
    height: 17px;
  }

  &--angle-left {
    width: 7px;
    height: 10px;
  }

  &--check {
    width: 11px;
    height: 9px;
  }

  &--cross {
    width: 10px;
    height: 10px;
  }

  &--angle-right {
    width: 6px;
    height: 10px;
  }

  &--filter {
    width: 19px;
    height: 16px;
  }

  &--filter-sm {
    width: 21px;
    height: 20px;
  }

  &--lope {
    width: 20px;
    height: 20px;
  }

  &--cabinet {
    width: 20px;
    height: 20px;
  }

  &--chat {
    width: 20px;
    height: 20px;
  }

  &--chat-fill {
    width: 20px;
    height: 20px;
  }

  &--phone {
    width: 20px;
    height: 20px;
  }

  &--phone-fill {
    width: 20px;
    height: 24px;
    margin-top: -4px;  
  }
  
  &--vk {
    width: 19px;
    height: 12px;
    margin-left: -2px;
  }
  &--telegram {
    width: 17px;
    height: 14px;
    margin-left: -2px;
  }
  &--facebook {
    width: 10px;
    height: 19px;
  }
  &--odnoklasniki {
    width: 10px;
    height: 16px;
  }
  &--whatsapp {
    width: 16px;
    height: 16px;
  }
  &--viber {
    width: 30px;
    height: 30px;
  }
  &--video {
    width: 34px;
    height: 21px;
  }
  &--video-fill {
    width: 34px;
    height: 21px;
  }
}