doctype html
html(lang="ru")
	block head
		head
			meta(charset="utf-8")
			title Title your site
			meta(content="width=device-width, initial-scale=1" name="viewport")
			meta(content="ie=edge" http-equiv="x-ua-compatible")
			link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon") 
			link(rel="stylesheet" href="css/splide.min.css")
			link(rel="stylesheet" href="css/tom-select.css")
			link(rel="stylesheet" href="css/nouislider.css")
			link(rel="stylesheet" href="css/simplebar.css")
			link(rel="stylesheet" href="css/new-style.css")
			link(rel="stylesheet" href="css/text-page.css")
			link(rel="stylesheet" href="css/main.css")
	body
		#overlay
		main#main
			block content
		block scripts
		script(src='js/splide.min.js')
		script(src='js/tom-select.complete.min.js')
		script(src='js/nouislider.min.js')
		script(src='js/wNumb.min.js')
		script(src='js/simplebar.min.js')
		script(src='js/text-page.js')
		script(src='js/app.js')
		script(src='js/new-style.js')